/* p {
    color: red;
} */

/* p {
    color: red;
    width: 500px;
    border: 1px solid black;
} */

/* p,li,h1 {
  color: red;
} */

/* body {
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
} */

html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
}


/* For more info about font style visit the Google web: https://developers.google.com/fonts/docs/getting_started */

h1 {
    font-size: 60px;
    text-align: center;
    color: blue;
}
  
p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    color: red;
}


